In [4]:
import psycopg2

In [12]:
# PostgreSQL connection parameters
username = 'postgres'
password = 'password'
host = 'localhost'
port = '5432'
database_name = 'news_analytics'

# Construct the connection string
connection_string = f'postgresql://{username}:{password}@{host}:{port}/{database_name}'

In [5]:
try:
    connection = psycopg2.connect("host=localhost dbname=news_analytics user=postgres password=password")
    print("Successfully connected to databse: news_analytics")
except psycopg2.Error as e:
    print("The following error occurred: ")
    print(e)

Successfully connected to databse: news_analytics

In [6]:
try:
    cursor = connection.cursor()
    print("Got cursor successfully")
except Exception as e:
    print("Error occurred while getting cursor to database: news_analytics")
    print(e)

Got cursor successfully

In [7]:
# Set autocommit to True
connection.set_session(autocommit=True)

In [35]:
try:
    cursor.execute("CREATE DATABASE news_analytics")
except Exception as e:
    print(e)

database "news_analytics" already exists

In [21]:
connection.close()

In [29]:
cursor.execute("CREATE TABLE IF NOT EXISTS articles(\
               article_url VARCHAR(200) PRIMARY KEY,\
               headline VARCHAR(250) NOT NULL,\
               thesis_length_words INT,\
               thesis_length_chars INT,\
               publication_datetime TIMESTAMP NOT NULL,\
               article_category VARCHAR(50) NOT NULL,\
               number_of_views INT NOT NULL,\
               article_source VARCHAR(50) NOT NULL)")

In [26]:
article_url = "putinning-taker-karlsonga" 
headline = "abc"
thesis_length_words = 6
thesis_length_chars = 42
publication_datetime = "2016-06-22"
article_category = "ЖАҲОН"
number_of_views = 45000
article_source = "kun.uz"

cursor.execute("INSERT INTO articles (article_url, headline, thesis_length_words, thesis_length_chars,\
                publication_datetime, article_category, number_of_views, article_source)\
               VALUES ('putinning-taker-karlsonga-intervyusi-asosiy-gaplar_1', 'headline', 6, 45, '2016-06-22 19:00:00',\
               'jahon', 45000, 'kun.uz')")

In [ ]:
article_url = "putinning-taker-karlsonga" 
headline = "abc"
thesis_length_words = 6
thesis_length_chars = 42
publication_datetime = "2016-06-22"
article_category = "ЖАҲОН"
number_of_views = 45000
article_source = "kun.uz"

cursor.execute("INSERT INTO articles (article_url, headline, thesis_length_words, thesis_length_chars,\
                publication_datetime, article_category, number_of_views, article_source)\
               VALUES ('putinning-taker-karlsonga-intervyusi-asosiy-gaplar_1', 'headline', 6, 45, '2016-06-22 19:00:00',\
               'jahon', 45000, 'kun.uz')")

In [39]:
article_url = "putinning-taker-karlsonga" 
headline = "abc"
thesis_length_words = 6
thesis_length_chars = 42
publication_datetime = "2016-06-22"
article_category = "ЖАҲОН"
number_of_views = 45000
article_source = "kun.uz"

cursor.execute("INSERT INTO articles (article_url, headline, thesis_length_words, thesis_length_chars,\
                publication_datetime, article_category, number_of_views, article_source)\
               VALUES (%s, %s, %s, %s, %s, %s, %s, %s)",\
               (article_url, headline, thesis_length_words, thesis_length_chars, publication_datetime, article_category, number_of_views, article_source))

In [40]:
cursor.execute("SELECT * FROM articles;")

row = cursor.fetchall()
for i in range(len(row)):
    print(row[i])

('putinning-taker-karlsonga-intervyusi-asosiy-gaplar', 'headline', 6, 45, datetime.datetime(2016, 6, 22, 19, 0), 'jahon', 45000, 'kun.uz')
('putinning-taker-karlsonga-intervyusi-asosiy-gaplar_1', 'headline', 6, 45, datetime.datetime(2016, 6, 22, 19, 0), 'jahon', 45000, 'kun.uz')
('putinning-taker-karlsonga', 'abc', 6, 42, datetime.datetime(2016, 6, 22, 0, 0), 'ЖАҲОН', 45000, 'kun.uz')

In [1]:
import pandas as pd

In [14]:
pd.set_option("display.max_colwidth", 500)

In [22]:
articles = pd.read_csv("articles.csv")

In [24]:
articles["article_category"]

0                Олам
1                Олам
2              Таҳлил
3                Олам
4            Криминал
5                Олам
6              Жамият
7              Жамият
8                Олам
9            Криминал
10               Олам
11           Интервью
12           Криминал
13           Бу қизиқ
14               Олам
15               Олам
16             Жамият
17           Криминал
18               Олам
19         Технология
20               Олам
21               Олам
22           Бу қизиқ
23               Олам
24         Саломатлик
25               Олам
26               Олам
27               Олам
28               Олам
29           Криминал
30           Бу қизиқ
31             Жамият
32               Олам
33           Криминал
34               Олам
35               Олам
36           Бу қизиқ
37               Олам
38               Олам
39    Маданият-санъат
40           Криминал
41    Маданият-санъат
42               Олам
43              Спорт
Name: article_category, dtype: object